* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f5f8;
}

.booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

.heading {
  text-align: center;
  font-weight: bold;
  font-size: 1.9rem;
  margin-top: 6rem;
  font-family: "Open Sans", sans-serif;
}

.book_comp {
  position: relative;
}

.books {
  position: absolute;
  background-color: #fff;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  font-family: "Barlow", sans-serif;
  z-index: 1;
}

.books img {
  width: 100%;
  object-fit: cover;
}

.books h4 {
  margin-top: 1rem;
  font-size: 1rem;
}

.books p {
  font-size: 0.87rem;
  opacity: 68%;
}
.numbers {
  position: absolute;
  background-color: #c45500;
  z-index: 10;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 25px;
  padding: 0 8px;
}
.triangle {
  position: absolute;
  z-index: 10;
  left: 41px;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-top: 25px solid #c45500;
}

@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
  }
}
