* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f5f8;
}

.booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

.heading {
  text-align: center;
  font-weight: bold;
  font-size: 1.9rem;
  margin-top: 6rem;
  font-family: "Open Sans", sans-serif;
}

.books {
  background-color: #fff;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  font-family: "Barlow", sans-serif;
}

.books img {
  width: 100%;
  object-fit: cover;
}

.books h4 {
  margin-top: 1rem;
  font-size: 1rem;
}

.books p {
  opacity: 68%;
}

@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
  }
}
